.header {
  padding: 18px;
  display: flex;
  justify-content: flex-end;
  background-color: #1d204f;
  color: white;
  font-family: "Poppins", sans-serif;

  &__user {
    display: flex;
    align-items: center;

    &__name {
      max-width: 95px;
      text-align: right;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      text-align: right;
    }
    &__img {
      background: #ffffff;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
      border-radius: 8px;
      padding: 2px;
      margin-left: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        border-radius: 6px;
      }
    }
  }
}
