@import '../../../assets//styles/_variables.scss';
.navbar {
    // padding: 42px 26px;
    padding: 40px 20px;
    background-color: $backF8;
    width: 15%;
    color: $base-color;
    letter-spacing: 0.003em;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    height: 100vh;

    h4{
        font-weight: 500;
    }

&__menu{
    ul{
        li{
            display: block;
            padding-top: 20px;
            display: flex;
            align-items: center;
            a{
                padding-left: 18px;
                display: flex;
                position: relative;
                align-items: center;
                color: $base-color;
                &:active{
                    color: $base-color;
                }
            }
        }
    }
}
}

// Router NavLink Active
.active {
    font-weight: 500;
    color: $base-color
}

.active::before {
    content: "";
    background-color: $link-active;
    display: inline-block;
    display: flex;
    position: absolute;
    left: 0px;
    align-items: center;
    width: 8px;
    height: 8px;
    border-radius: 50%;

}
@media only screen and (max-width: 768px) {
    .navbar {
        width: 15%;  
        font-size: 12px;
    }
  } 
  @media only screen and (max-width: 500px) {
    .navbar {
    font-size: 9px;
    }
  }